.profile{
    background: linear-gradient(170deg, #1C6B85 15%, #071013 91.17%), #F4F6F6;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}


.profile-view{
    position: relative;
    max-width: 1300px;
    padding: 0px 15px;
    height: 82vh;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
#div-line-decor{
    position: absolute;
    left:0;
    top: 2.4rem;
    bottom: 0px;
    border-left:2.9px solid #c6c6c670 ;
}
#div-line-decor-right{
    position: absolute;
    right:0;
    top: 2.4rem;
    bottom: 0px;
    border-left:2.9px solid #c6c6c670 ;
}

.nav-container{
    position: absolute;
    width: 100vw;
    height: fit-content;
    margin-top: 40px;
    border-bottom: 2.9px solid #c6c6c670;
    box-sizing: border-box;
    padding: 0px;
}
.nav-list{
    position: relative;
    width: fit-content;
    padding: 0px .6rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 4000;
}
.nav-item{
    text-transform: uppercase;
    height: 1.25em;
    font-size: 1.5rem;
    margin-right: 60px;
    margin-bottom: -3px;
    color: #071013;
    box-sizing: border-box;
}
.nav-item:hover{
    border-bottom: 2.9px solid #ff9505;
    cursor: pointer;
    color: #ff9505;
    height: 1.25em;
    font-size: 1.5rem;
    margin-right: 60px;
}
.is-active{
    height: 1.25em;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ff9505;
    border-bottom: 2.9px solid #ff9505;
}
.side-bar{
    position: absolute;
}

.projects-title{
    max-width: 1055px;
    margin-top: 27px;
    margin-left: auto;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
}

.new-project-button{
    width: 10rem;
    height: 1.5rem;
    margin-bottom: 0;
    margin-left: -40.5rem;
    margin-top: 70px;
}

.profile-bottom-line{
    border-bottom: 2.6px solid #c6c6c670;
}
@media(max-width:750px){
    .profile{
        background:linear-gradient(170deg, #1C6B85 15%, #071013 91.17%), #F4F6F6;
        height: 100vh;
        width: 100vw;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}