.delete-container{
    height: 24.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.delete-container>h4{
    color: #d7263d;
    font-size: 1rem;
    margin: 0;
    margin-bottom: .6rem;
}
h3>h1{
    margin: 0px;
}

.confirm-button{
    background-color: #c6c6c6;
    width: 5rem;
    margin-right: .6rem;
}
.confirm-button:hover{
    background-color: #d7263d;
    width: 5rem;
    margin-right: .6rem;
}
.cancel-button{
    width: 5rem;
    margin-right: .6rem;
}