.colab-header{
    background-color:#11323e ;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.main-header-logo{
    margin-left:1.7rem;
    position: relative;
    height: 55px;
    filter:drop-shadow(2px 2px 5px #071013)
}

.main-user-info{
    display: flex;
}
.profile-pic{
    
}

.default-pic{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 2.3rem;
    margin-top: 3px;
    border: 2px solid #ff9505;
    border-radius: 50%;
    
}
.header-username>h2{
    color: #f4f6f6;
    font-family: Roboto Condensed;
    font-weight: bold;
}
