.page{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background:url('https://colab-image-assets.s3-us-west-1.amazonaws.com/Colab+Background+1.png'),linear-gradient(170deg, #1C6B85 40%, #071013 91.17%), #F4F6F6;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
}
/*Header*/
.lab-header{
    position: relative;
    background-color: #0710139b;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    height: 100vh;
    border-right: 2px solid #c6c6c6;
    z-index: 5000000;
}


.lab-header-logo{
    height: 70px;
    margin:.6rem 0px .6rem 0px;
}


.lab-default-pic{
    width: 60px;
    height: 60px;
    border: 2px solid #ff9505;
    border-radius: 50px;
    padding: 0px;
}
.lab-profile-pic{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    padding: 0px;
}
.lower-nav-container{
    text-align: left;
    margin-bottom:1rem;
    margin-top: .6rem;
    width: 100%;
}

#home{
    margin-top: 0px;
}
#home:hover{
    color: #ff9505;
    cursor: pointer;
}
.songList-container{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top:1px solid #c6c6c6;
    border-bottom:1px solid #c6c6c6;
    margin-bottom: .6rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.songList-container::-webkit-scrollbar{
    display: none;
}

.song-list-nav{
    color: #808080;
    text-align: left;
    transition: all .5s;
}

.song-list-nav:hover{
    color: #f4f6f6;
    cursor: pointer;
}
.active-nav{
    color: #ff9505;
}
.active-nav:hover{
    color: #ff9505;
}