.versions-container{
    border: 2px solid #071013;
    border-radius: 3px;
    width: 16.5rem;
    box-shadow: 2px 1px 7px #071013;

}

.version-header{
    position: sticky;
    top: 0px;
    margin: 0px 0px .6rem;
    padding: .6rem 0px;
    border-bottom: 3px solid #071013;
    color: #ff9505;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #071013;
    line-height: 5px;
}