/* Page  */
.login-view{
    overflow-y: hidden;
    height: inherit;
    background: radial-gradient(farthest-corner, #1C6B85 10%, #071013 100%), #F4F6F6;
}

/* Container  */
.login-container{
    background: #FFFFFF;
    max-width: 400px;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #f4f6f6;
    border-radius: 3px;
    border: 3px solid #071013;
    z-index: 1000;
}

.register-container{
    background: #FFFFFF;
    max-width: 400px;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #f4f6f6;
    border-radius: 3px;
    border: 3px solid #071013;
    z-index: 1000;
}

/* Contents */
.back-arrow{
    position: absolute;
    left: 015px;
    top: 0px;
}
.login-logo{
    width: 10rem;
    padding: 10px;
}

.welcome-message{
    margin: 0px;
}


/* Form  */
.auth-reg-log-form{
    border: 1px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.input-field{
    height: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-bottom: 1.5px solid #c6c6c6;
}
#select-input-field{
    padding: 0px;
    font-size: 1rem;
    text-transform: lowercase;
    color: #808080;
    border: none;
    border-bottom: 1.5px solid #c6c6c6;
    background-color: transparent;
    margin-bottom: 20px;
    height: 25px;
}
#select-input-field:focus{
    border: none;
    border-bottom: 1.5px solid #ff9505;
    outline: none;
    background-color: transparent;
}
.role-label{
    font-size: .5rem;
}
.input-error{
    height: 40px;
    border-bottom: 2px solid #d7263d;
    outline-color: #ff9505;
    margin-bottom: px;
}

.required-field{
    font-size: .75rem;
    margin-top: .5px;
    margin-bottom: 5px;
    text-align: left;
    color: #d7263d;;
}

.error-message{
    text-align: left;
    margin: 0px;
    color: #d7263d;
}
button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
    background-color: #e98902;
}
h1{
    margin-bottom: 5px;
}

.link-to-login{
    text-align: left;
    padding: 0px;
    padding-left: 1px;
    margin-bottom: 0px;
    color: blue;
    font-weight: 200;
    font-size: .9rem;
}
.link-to-login-top{
    display: none;
    margin: 0px;
    text-align: left;
    padding: 0px;
    padding-left: 1px;
    margin-bottom: 0px;
    color: blue;
    font-weight: 200;
    font-size: .9rem;
}
/*Loading*/
.logging-in{
    margin-top: 200px;
}
.loading-logo{
    width: 100px;
    rotate: 0;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes logo{
    20% { transform: rotate(45deg); } 
    40% { transform: rotate(-30deg); } 
    60% { transform: rotate(20deg); } 
    80% { transform: rotate(-10deg); } 
    100% { transform: rotate(0deg); } 
}
/**/



@media(max-width:1025px){
    .register-container{
        margin-top: 4rem;
    }
    .login-container{
        margin-top: 4rem;
    }
}

@media(max-width: 430px){
    .login-view{
        background: none;
        height: 100vh;
    }
    .register-container{
        margin-top: 0px;
        border: none;
        height: 100vh;
    }
    .login-container{
        margin-top: 0px;
        border: none;
        height: 100vh;
    }
    .login-logo{
        /* margin-top: 1rem; */
    }
    .link-to-login-top{
        display: flex;
    }
    .link-to-login{
        display: none;
    }
    .login-container>h1{
        margin-bottom: 0px;
    }
    .register-container>H1{
        margin-bottom: 0px;
    }
}
