.link-to-login{
    text-align: left;
    padding: 0px;
    padding-left: 1px;
    margin-bottom: 0px;
    color: blue;
    font-weight: 200;
    font-size: .9rem;
}

.welcome-message{
    margin-top: 0px;
}

/*Login Styling*/
.login-view{
    overflow-y: hidden;
    height: inherit;
    background: radial-gradient(farthest-corner, #1C6B85 10%, #071013 100%), #F4F6F6;
}
.logging-in{
    margin-top: 200px;
}
.login-container{
    position: relative;
    top: 220px;
    background: #FFFFFF;
    /* box-shadow: 5px 5px 0px #071013; */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #f4f6f6;
    border-radius: 3px;
    border: 3px solid #071013;
    z-index: 1000;
}
.register-container{
    position: relative;
    top: 165px;
    background: #FFFFFF;
    /* box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25); */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #f4f6f6;
    border-radius: 3px;
    border: 3px solid #071013;
    z-index: 1000;
}
.back-arrow{
    position: absolute;
    left: 015px;
    top: 0px;
}
.login-logo{
    width: 10rem;
    padding: 10px;
}
.background-login{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}
.auth-reg-log-form{
    border: 1px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.input-field{
    height: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
    outline-color: #ff9505;
    border-bottom: 1.5px solid #c6c6c6;
}

.input-error{
    height: 40px;
    border-bottom: 2px solid #d7263d;
    outline-color: #ff9505;
    margin-bottom: px;
}

.required-field{
    font-size: .75rem;
    margin-top: .5px;
    margin-bottom: 5px;
    text-align: left;
    color: #d7263d;;
}

.error-message{
    color: #d7263d;
}
button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
    background-color: #e98902;
}
h1{
    margin-bottom: 10px;
}
.loading-logo{
    width: 100px;
    rotate: 0;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes logo{
    20% { transform: rotate(45deg); } 
    40% { transform: rotate(-30deg); } 
    60% { transform: rotate(20deg); } 
    80% { transform: rotate(-10deg); } 
    100% { transform: rotate(0deg); } 
}

@media(max-width:995){
    .login-container{
        margin-top:-5px;
    }

}
